h1.title {
    text-align:center;
    border-width:5px;
    font-family:'Trebuchet MS';
    border-style: solid;
    border-radius:5px;
    border-color:#f71a94;
}
body {
    background-color:rgb(248, 235, 218);
}
